<div>
  <!-- static-navigation -->
  <%# render :partial => "shared/static/navigation/navigation" %>
  <!--landing-header-->
  <%# render :partial => "shared/static/landing-page/header" %>
  <%= render :partial => "shared/static/landing-page/land" %>
  <!--landing-hook-->
  <%= render :partial => "shared/static/landing-page/hook" %>
  <!--landing-scan-->
  <%= render :partial => "shared/static/landing-page/scan" %>
  <!--landing-no-app-->
  <%= render :partial => "shared/static/landing-page/no_app" %>
  <!--landing-how-it-works-->
  <%# render :partial => "shared/static/landing-page/how_it_works" %>
  <!--landing-services-->
  <%# render :partial => "shared/static/landing-page/services" %>
  <!--landing-features-->
  <%# render :partial => "shared/static/landing-page/features" %>
  <!--landing-interactive-menu-->
  <%# render :partial => "shared/static/landing-page/interactive_menu" %>
  <!--landing-customer-->
  <%# render :partial => "shared/static/landing-page/customer" %>
  <!--landing-clients-->
  <%= render :partial => "shared/static/landing-page/clients" %>
  <!--landing-about-->
  <%# render :partial => "shared/static/landing-page/about" %>
  <!--landing-clients-->
  <%= render :partial => "shared/static/landing-page/footer" %>
</div>