<!DOCTYPE html>
<html class="wow-animation" lang="en">
  <head>
    <title>VIZHO͞OƏLS</title>
    <!--<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,900">
    <link rel="stylesheet" href="/assets/css/landing_p_style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body style="background: white; padding-top: 0;">
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/assets/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="page text-center">
     <!-- static-navigation -->
      <%= render :partial => "shared/static/navigation/navigation" %>
      <!--landing-header-->
      <%= render :partial => "shared/static/landing-page/header" %>
      <!--landing-features-->
      <%= render :partial => "shared/static/landing-page/features" %>
      <!--landing-services-->
      <%= render :partial => "shared/static/landing-page/services" %>
      <!--landing-interactive-menu-->
      <%= render :partial => "shared/static/landing-page/interactive_menu" %>
      <!--Extremely Responsive and Retina-->
      <section class="section novi-background section-navigation section-80 section-lg-110 section-lg-bottom-135 bg-gray-lighter" id="responsive" data-preset='{"title":"Content","category":"content","id":"content"}'>
        <div class="container">
          <div class="row grid-group-md justify-content-sm-center align-items-md-center">
            <div class="col-lg-6 text-lg-left wow fadeInLeft">
              <h4 class="font-weight-bold">A RESPONSIVE MENU</h4>
              <p class="inset-lg-right-100">
                A <span style="color:#fbb448;">visual</span> menu looks the same on any smart device.
              </p>
              <div class="offset-top-30">
                <%= link_to "SIGN UP FOR FREE", signup_path, class: "btn btn-primary btn-ellipse btn-anis-effect" %>
              </div>
            </div>
            <div class="col-lg-6"><img class="img-fluid" src="/assets/responsive.png" width="441" height="240" alt=""></div>
          </div>
        </div>
      </section>
      <section class="section novi-background section-navigation section-80 bg-caribbean context-dark" id="shareable" data-preset='{"title":"Schedule","category":"content, schedule","reload":true,"id":"schedule"}'>
        <div class="container">
          <div class="row grid-group-md justify-content-between">
            <div class="col-lg-6 col-xl-5">
              <div class="offset-top-41 graph-content wow fadeInLeft">
                <div>
                  <img class="img-fluid" src="/assets/menu-template.png" max-width="441" height="340" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-5 text-lg-left">
              <div class="inset-md-lef-100 offset-lg-top-30 wow fadeInRight">
                <h4 class="font-weight-bold">A VISUAL MENU</h4>
                <div class="offset-top-30 inset-lg-right-100">
                  <p>
                    With a <span style="color:#fbb448;">visual</span> menu,
                    customers have quick access into browsing through all the delicious menu items you have,
                    they will feast with their eyes before they buy, and can share the menu with friends and family.
                  </p>
                </div>
                <div class="offset-top-30 offset-lg-top-55">
                  <%= link_to "Try now for free", signup_path, class: "btn btn-default btn-ellipse d-inline-block btn-anis-effect w-70" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--The process-->
      <section style="background: black !important;" class="section novi-background section-navigation section-80 section-lg-124 bg-white" id="the_process" data-preset='{"title":"Testimonials","category":"testimonials","id":"testimonials"}'>
        <div class="col-lg-12 container">
          <div class="row grid-group-md justify-content-center offset-top-50">
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
              <div class="overlay"></div>
              <div class="container">
                <div class="row">
                  <div style="" class="">
                      <%= link_to image_tag('play-icon-2.png'), "https://www.youtube.com/watch?v=0HYcYjGLAAk", class: "popup-youtube" %>
                      <h2 style="color: white; font-size: 25px;" class="wow fadeInUp" data-wow-delay="0.5s">THE <span style="color:#fbb448;">visual</span> <span style="color:dimgray;">menu</span> PROCESS</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Clients-->
      <!--<section id="contact" class="parallax-section">
        <div class="overlay"></div>
      	<div class="container">
      		<div class="row contact-section">

      			<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2>Say hello</h2>
              </div>
      				<div class="wow fadeInUp" data-wow-delay="0.7s">
                <%= form_for('message_params', url: {:controller => "static_pages", :action => "contact_us", method: "post"} ) do |f| %>

                  <%= f.text_area :name, placeholder: "Your Name", class: 'form-control', required: true %>

                  <%= f.text_area :email, placeholder: "Your email", class: 'form-control', required: true %>

                  <%= f.text_area :message, placeholder: "Message", class: 'form-control', required: true %>

                  <%= f.submit "SEND MESSAGE", class: "form-control submit" %>
                <% end %>
      				</div>
      			</div>

      		</div>
      	</div>
      </section>-->

      <!--Default footer-->
      <footer class="section novi-background section-80 section-bottom-30 page-footer bg-gray-base context-dark" data-preset='{"title":"Footer","category":"footer","reload":true,"id":"footer"}'>
        <div class="container section-relative">
          <div class="row justify-content-center grid-group-md text-xl-left">
            <div class="col-sm-12 col-xl-4">
              <!-- Footer brand-->
              <div class="offset-top-30">
                <ul class="list-inline">
                  <li class="list-inline-item"><a class="novi-icon icon fa" href="mailto:abunawose@vizhooels.com,arslan.abdallah@vizhooels.com"><img style="top: -10px;position: relative;"src="https://img.icons8.com/cotton/64/000000/secured-letter.png"></a></li>
                  <li class="list-inline-item"><a class="novi-icon icon fa fa-linkedin icon-xxs icon-circle icon-gray-darkest-filled" href="https://www.instagram.com/vizhooel_menu/" target="_blank"></a></li>
                  <li class="list-inline-item">
                    <article class="post widget-post text-left">
                      <a href="https://www.vizhooels.com/users/31" target="_blank">
                            <div class="unit flex-row unit-spacing-xs align-items-center">
                              <div class="unit-body">
                                <div class="post-meta"><span class="novi-icon icon-xxs mdi mdi-arrow-right text-macaroni"></span>
                                  <time datetime="2018-01-01">Click here to interact with a</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular"><span style="color:#fbb448;">visual</span> menu</h6>
                                </div>
                              </div>
                            </div>
                        </a>
                      </article>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
  </body>
</html>
