<!DOCTYPE html>
<html class="wow-animation" lang="en">
  <head>
    <title>VIZHO͞OƏLS</title>
    <!--<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,900">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body style="background: white; padding-top: 0;">
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/assets/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="page text-center">
     <!-- static-navigation -->
      <%= render :partial => "shared/static/navigation/navigation" %>
      <!--landing-header-->
      <%= render :partial => "shared/static/landing-page/header" %>
      <!--landing-how-it-works-->
      <%= render :partial => "shared/static/landing-page/how_it_works" %>
      <!--landing-services-->
      <%= render :partial => "shared/static/landing-page/services" %>
      <!--landing-features-->
      <%= render :partial => "shared/static/landing-page/features" %>
      <!--landing-interactive-menu-->
      <%= render :partial => "shared/static/landing-page/interactive_menu" %>
       <!--landing-customer-->
      <%= render :partial => "shared/static/landing-page/customer" %>
      <!--landing-clients-->
      <%= render :partial => "shared/static/landing-page/clients" %>
      <!--landing-about-->
      <%= render :partial => "shared/static/landing-page/about" %>
      <!--landing-clients-->
      <%= render :partial => "shared/static/landing-page/footer" %>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
  </body>
</html>
