<div>
  <!-- static-navigation -->
  <%# render :partial => "shared/static/navigation/navigation" %>
  <!-- landing-mockup -->
  <%# render :partial => "shared/static/landing-page/mockup" %>
  <%= render :partial => "shared/static/landing-page/land" %>
  <!--landing-hook-->
  <%= render :partial => "shared/static/landing-page/hook" %>
  <!--landing-scan-->
  <%= render :partial => "shared/static/landing-page/scan" %>
  <!--landing-no-app-->
  <%= render :partial => "shared/static/landing-page/no_app" %>
  <!--landing-services-->
  <%# render :partial => "shared/static/landing-page/services" %>
  <!--landing-features-->
  <%# render :partial => "shared/static/landing-page/features" %>
  <!--landing-customer-->
  <%# render :partial => "shared/static/landing-page/customer" %>
  <!--landing-clients-->
  <%= render :partial => "shared/static/landing-page/clients" %>
  <!--landing-clients-->
  <%= render :partial => "shared/static/landing-page/footer" %>
</div>
