<!--Adding a status feed to the Home page.-->
<% if logged_in? %>
  <div class="row main-page-bk">
    <%= render 'shared/back_to_top' %>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="col-md-8">

      <div>
        <%= render :partial => "shared/search_option" %>
      </div>

      <div class="category-select">
        <%= form_tag(category_search_path, :method => "get", class: 'navbar-form navbar-left') do %>
          <%= hidden_field_tag :user_id, @user.id %>
          <div class="input-group">
            <%= select_tag("category[title]", options_from_collection_for_select(@categories, "category", "category", params[:category]), prompt: "Select Category") %>
            <div class="input-group-btn">
              <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search category-search',:name => nil%>
            </div>
          </div>
          <!--<%= select_tag "category", options_from_collection_for_select(@categories, "category", "category"), prompt: "Select Category", :onchange => "$.get('#{category_search_path}', {'_method':'get', 'category_title[model_field]': this.value, user_id: #{@user.id} } );", :include_blank => false %>-->
        <% end %>
      </div>

      <div class="user-home-page">
        <h3>Menu Items Feed</h3>
        <%= render 'shared/feed' %>
      </div>

    </div>
  </div>
<% else %>
  <div class="center intro-text">
    <div>
      <h1>Visually extend your menu....</h1>

      <h2>
        So customers can see a visual presentation of your food.<br>
        Get customer's attention – and whet their appetite – with high-quality, full-color VIZHO͞OƏLS.
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

<% end %>
