<% provide(:title, "Pricing") %>
<div class='pricing'>
<header class='pricing-header'>
<div style="position: relative;left: 45%;top: -25px;">
  <%= render :partial => "shared/home_button" %>
</div>
<h2 class="font-weight-bold">
  <div class="wow fadeInUp rd-navbar-brand"><span style="color:#fbb448;">VIZHO͞OƏL</span> <span style="color: white;">MENU</span></div>
</h2>
<h3 class='pricing-title ph-h2'>Technology is a tool utilized to effect change and visual content gets peoples attention.</h3>
<div class='pricing-action-c'>
 <%= link_to "Sign up free", signup_path, class: "wow fadeInUp btn pricing-action ph-important" %>
 </div>
</header>
<section class='pricing-section'>
    <div class='pricing-box'>
    <h1 class='pricing-box-title'>One time use</h1>
    <%= render :partial => "shared/pricing_box_item",:locals => {
        :icon => 'check_circle_outline',
        :text => 'Create a beautiful mouth watering visual menu.'
    } %>
    <%= render :partial => "shared/pricing_box_item",:locals => {
        :icon => 'check_circle_outline',
        :text => 'You get 30 days access to your visual menu.'
    } %>
    <%= render :partial => "shared/pricing_box_item",:locals => {
        :icon => 'check_circle_outline',
        :text => 'You get 5 free NFC tags.'
    } %>
    <a class='pricing-box-action' href='/signup'><span class='pricing-box-action-info'>$30</span></a>
    </div>
    <div class='pricing-box pricing-box-important'>
    <h1 class='pricing-box-title'>Professional</h1>
    <%= render :partial => "shared/pricing_box_item",:locals => {
        :icon => 'check_circle_outline',
        :text => 'Create a beautiful mouth watering visual menu.'
    } %>
    <%= render :partial => "shared/pricing_box_item",:locals => {
        :icon => 'check_circle_outline',
        :text => 'Get unlimitted access to your visual menu.'
    } %>
    <%= render :partial => "shared/pricing_box_item",:locals => {
        :icon => 'check_circle_outline',
        :text => 'Get access to menu interaction feedback data.'
    } %>
    <%= render :partial => "shared/pricing_box_item",:locals => {
        :icon => 'check_circle_outline',
        :text => 'You get 20 free NFC tags.'
    } %>
    <a class='pricing-box-action' href='/signup'>$20<span class='pricing-box-action-info'>/month</span></a>
    </div>
    <div class='pricing-box'>
    <h1 class='pricing-box-title'>Enterprise</h1>
    <p class='pricing-box-description'>Get in touch with us to get a one on one business </p>
    <a class='pricing-box-action' href='/signup'>GET IN TOUCH</a>
    </div>
</section>
</div>
