<% provide(:title, "Log in") %>
<!DOCTYPE html>
<html class="wow-animation" lang="en">
  <head>
    <title>VIZHO͞OƏLS</title>
    <!--<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,900">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body style="background-color: white;">
  <section class="login-card">
  <h2>Sign In</h2>
    <form id="session" accept-charset="UTF-8" class="text-left offset-top-30" data-form-output="form-output-global" action="/login" data-form-type="contact" method="post">
      <input type="hidden" name="authenticity_token" value="zXIRzU253nalVgWKElGpSBajARGTuCuAlDPpxjg7ga/4aJwIk2CneezzQnzRGei2dD/8F3lX6xEBn7c/XhhtqQ==" />
      <% flash.each do |message_type, message| %>
        <div style="margin-bottom: 40px;" class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="form-component-c">
        <input class="form-component fc-small" id="email" placeholder="Email address" type="email" name="email" required= 'true' data-constraints="@Required">
        <%= render :partial => "shared/form_icon_login", :locals => {:icon => 'edit'} %>
      </div>
      <div class="form-component-c">
        <input class="form-component fc-small" id="password" placeholder="Password" type="password" name="password" data-constraints="@Required" required= 'true'>
        <%= render :partial => "shared/form_icon_login", :locals => {:icon => 'edit'} %>
      </div>
      <div class="form-component-c fc-active">
        <button id="send" class="fc-hide" type="submit">Sign In</button>
        <label class='form-component fc-small fc-point' for="send">
          Create
          <%= render :partial => "shared/form_icon", :locals => {:icon => 'send'} %>
        </label>
      </div>
    </form>
  </section>
  <div class="snackbars" id="form-output-global"></div>
  <%= render 'layouts/footer' %>
  </body>
</html>