<div class='user-profile mobile'>
    <div class='user-profile-header'>
        <img id='user-image' src= <%= @user.picture %>>
        <div class='user-profile-info'>
            <h1>
                <span class="material-icons positive-icon">restaurant</span>
                <%= @user.name %>
            </h1>
            <button onclick="openProfileModal()">
                <span>See More</span>
                <span class="material-icons">arrow_drop_down</span>
            </button>
        </div>
    </div>
    <div id='user-profile-modal' class='user-profile-modal'>
    <div onclick='closeProfileModal()' class='user-profile-close-bg'></div>
        <div class='user-profile-modal-c'>
            <div class='user-profile-header mobile'>
            <img id='user-image' src= <%= @user.picture %>>
            <div class='user-profile-info'>
                <h1>
                    <span class="material-icons positive-icon">restaurant</span>
                    <%= @user.name %>
                </h1>
                <a href="http://maps.google.com/maps?q=<%= @user.address_line1 %>">
                    <span class="material-icons">location_on</span>
                    <%= @user.address_line1 %>
                </a>
                <a href="tel:<%= @user.phone %>">
                    <span class="material-icons">phone</span>
                    <%= @user.phone %>
                </a>
            </div>
        </div>
        <div class='user-profile-list'>
            <% if @user.ubereats_link %>
                <a href="<%= @user.ubereats_link %>" target="_blank">
                    <img src="/assets/social/ubereats.svg">
                </a>
            <% end %>
            <% if @user.doordash_link %>
                <a href="<%= @user.doordash_link %>" target="_blank">
                    <img src="/assets/social/doordash.svg">
                </a>
            <% end %>
            <% if @user.grubhub_link %>
                <a href="<%= @user.grubhub_link %>" target="_blank">
                    <img src="/assets/social/grubhub.svg">
                </a>
            <% end %>
            </div>
            <div class='user-profile-list'>
            <% if @user.facebook_link %>
                <a href="<%= @user.facebook_link %>" target="_blank">
                    <img src="/assets/social/facebook.svg">
                </a>
            <% end %>
            <% if @user.instagram_link %>
                <a href="<%= @user.instagram_link %>" target="_blank">
                    <img src="/assets/social/instagram.png">
                </a>
            <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    function openProfileModal() {
        document.getElementById('user-profile-modal')
        .classList.add('active')
    }
    function closeProfileModal() {
        document.getElementById('user-profile-modal')
        .classList.remove('active')
    }
</script>
