<% provide(:title, @user.name) %>
<div class="row main-page-bk">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <section>
    <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <%= hidden_field_tag :user_id, @user.id %>
     <div style="position: relative; right: -500px;">
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    </div>
    <% end %>
  </section>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Menu Items (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
