<!-- This is the first page the user sees when they sign in. -->
<% if @user %>
  <% provide(:title, @user.name) %>
  <div class="users-show-menu-page-display">
    <div class="row">

      <%= render 'shared/back_to_top' %>

      <header class="ushow-header" role="banner" data-stellar-background-ratio="0.5">
        <div class='ushow-banner'>
          <% if @spacial %>
            <%= image_tag @spacial.picture.url, alt: 'res-banner' %>
          <% else %>
            <img src='/assets/img_bg_1.jpg' alt='res-banner'>
          <% end %>
        </div>

        <div class='ushow-content'>
          <%= gravatar_for @user, size: 50 %>
          <h3><%= @user.name %></h3>
        </div>

        <div class='ushow-title'>
          <div class="animate-box" data-animate-effect="fadeInUp">
            <span>
              <a href="" target="_blank">VIZHO͞OƏL</a>
              MENU
            </span>
          </div>
        </div>
      </header>

    </div>

    <div class="config-c row">
        <%= render :partial => "shared/search_option" %>

        <%= render :partial => "shared/category_select_search" %>
    </div>


    <div class="row">
      <div class="menu-display-section">
        <%= render :partial=> "shared/micropost_list_display" %>
      </div>
    </div>

  </div>
 </div>

<% else %>
  <section id="contact" style="background-color: black;color: white;">
    <div class="container">
      <div class="row">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <div class="wow fadeInUp col-md-8 col-sm-8" data-wow-delay="1.6s">
           <%= image_tag("404-error-graphic.png", class: "fluid-img", alt: "Gallery")  %>
        </div>
      </div>
    </div>
  </section>
<% end %>
