<!-- This is the first page the user sees when they sign in. -->
<% if @user %>
  <% provide(:title, @user.name) %>
  <div class='user-home'>
    <%= render :partial => "shared/static/user/header" %>
  </div>
  <div>
    <div class="row">
      <%= render 'shared/back_to_top' %>
    </div>
    <div class="config-c row">
        <%= render :partial => "shared/search_option" %>
        <%= render :partial => "shared/category_select_search" %>
    </div>
    <div class="row">
      <div class="menu-display-section">
        <%= render :partial=> "shared/micropost_list_display" %>
      </div>
    </div>

  </div>
 </div>

<% else %>
  <%= render :partial=> "shared/user_not_found_error" %>
<% end %>
<%= render 'layouts/footer' %>
