<div class="row"></div>
  <% if @appetizer_cat.any? %>
    <div>
      <p>APPETIZER</p>
      <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
      <ol class="microposts">
        <%= render @appetizer_cat %>
      </ol>
    </div>
  <% end %>

  <% if @breakfast_cat.any? %>
    <div>
      <p>BREAKFAST</p>
      <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
      <ol class="microposts">
        <%= render @breakfast_cat %>
      </ol>
    </div>
  <% end %>

  <% if @lunch_cat.any? %>
    <div>
      <p>LUNCH</p>
      <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
      <ol class="microposts">
        <%= render @lunch_cat %>
      </ol>
    </div>
  <% end %>

  <% if @dinner_cat.any? %>
    <div>
      <p>DINNER</p>
      <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
      <ol class="microposts">
        <%= render @dinner_cat %>
      </ol>
    </div>
  <% end %>

  <% if @dessert_cat.any? %>
    <div>
      <p>DESSERT</p>
      <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
      <ol class="microposts">
        <%= render @dessert_cat %>
      </ol>
    </div>
  <% end %>

  <% if @beverage_cat.any? %>
    <div>
      <p>BEVERAGE</p>
      <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
      <ol class="microposts">
        <%= render @beverage_cat %>
      </ol>
    </div>
  <% end %>

  <% if @special_of_day_cat.any? %>
    <div>
      <p>SPECIAL OF THE DAY</p>
      <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
      <ol class="microposts">
        <%= render @special_of_day_cat %>
      </ol>
    </div>
<% end %>
</div>
