<!--The form partial for creating menu item on the home.html.erb file-->
<div class="create-menu-item-display">
  <%= form_for(@micropost, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field form-component-c">
      <%= f.text_field :content, placeholder: "Menu item title...", class: "form-component fc-small"  %>
      <%= render :partial => "shared/form_icon", :locals => {:icon => 'edit'} %>
    </div>
      <div class='form-category-c'>
        <div class="field form-component-c fc-active">
          <input class='fc-hide' id='openCatModalBtn' onclick='openCategoryModal(this); return false;'>
          <label class='form-component fc-small fc-point' for="openCatModalBtn">
            Create item
            <%= render :partial => "shared/form_icon", :locals => {:icon => 'add'} %>
          </label>
        </div>

        <div id='category-modal'>
          <% @categories_select.each do |category| %>
            <div class='category-modal-input-c'>
              <%= f.check_box :category, { multiple: true, :id => 'categoryCheckBox' }, category %>
              <label onclick="categoryCheckBox(this)"><%= category %></label>
            </div>
          <% end %>
        </div>
      </div>
    <div class="field form-component-c">
      <%= f.text_field :price, placeholder: "Menu item price...", class: "form-component fc-small" %>
      <%= render :partial => "shared/form_icon", :locals => {:icon => 'attach_money'} %>
    </div>
    <div class="field form-component-c fc-big">
      <%= f.text_area :description, :rows => 5, placeholder: "Menu item description...", class: "form-component fc-big" %>
      <%= render :partial => "shared/form_icon", :locals => {:icon => 'notes'} %>
    </div>
    <span class="picture form-component-c">
      <%= f.file_field :picture, class: 'fc-hide', id: 'file', accept: 'image/jpeg,image/gif,image/png' %>
      <label class='form-component fc-small fc-point' for="file">
        Choose a visual
        <%= render :partial => "shared/form_icon", :locals => {:icon => 'attach_file'} %>
      </label>
    </span>
    <div class="field form-component-c fc-active">
      <%= f.submit "Post", class: 'fc-hide', id: 'send' %>
      <label class='form-component fc-small fc-point' for="send">
        Create item
        <%= render :partial => "shared/form_icon", :locals => {:icon => 'send'} %>
      </label>
    </div>
  <% end %>
</div>
 <!--Checking the file size with jQuery.-->
  <script type="text/javascript">
    $('.fc-hide').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
    function openCategoryModal(self) {
      const _modal = self.parentElement.parentElement
      .querySelector('#category-modal');
      _modal.classList.toggle('active');
      let _modalIcon = self.parentElement.querySelector('span')
      if (_modalIcon.textContent === 'add') {
        _modalIcon.textContent = 'remove';
      } else {
        _modalIcon.textContent = 'add';
      }
      
    }
    function categoryCheckBox(self) {
      let checkedCatergory = self.parentElement.querySelector('#categoryCheckBox');
      if (checkedCatergory.checked) {
        checkedCatergory.checked = false
      } else {
        checkedCatergory.checked = true
      }
    }
  </script>

