<!--The partial for the user info sidebar on the home.html.erb file-->
<div class="user-info-display">
  <%= link_to gravatar_for(current_user, size: 50), current_user %>

  <div class='uidisplay-details'>
    <h1 class='uidisplay-name'><%= current_user.name %></h1>
    <%= link_to current_user do %>
      <button class="your-vizhooel-button"> Your VIZHO͞OƏLS</button>
    <% end %>
  </div>

  <div class='uidisplay-set-picture'><%= link_to "Set profile picture", "https://en.gravatar.com/", target: :_blank %></div>
  <div><%= pluralize(current_user.microposts.count, "Menu Item") %></div>
</div>
