<!--The partial for the user info sidebar on the home.html.erb file-->
<div class="user-info-display">
  <%= link_to image_tag(current_user.picture), current_user %>

  <div class='uidisplay-details'>
    <h1 class='uidisplay-name'><%= current_user.name %></h1>
    <div style="font-size: .5em; width: 50%;" class='v-btn-c'>
        <%= link_to "YOUR VISUAL MENU", current_user, class: "v-btn v-btn-dark v-btn-important" %>
    </div>
  </div>

  <div class='uidisplay-set-picture'><%= link_to "Set profile picture", "https://en.gravatar.com/", target: :_blank %></div>
  <div class='uidisplay-item-count'><%= pluralize(current_user.microposts.count, "Menu Item") %></div>
</div>
