
<!--The representation of a menu item/micropost partial.-->
<!--Displayed in the feed.html.erb partial.-->
<li class="micropost" id="micropost-<%= micropost.id %>">
  <button class='micropost-action' onclick='openModal("<%= micropost.id %>",this)'>
    <%= image_tag micropost.picture.url, class: "mp-image", id: 'micropost-item', alt: "#{micropost.description}" %>
    
  </button>
  <div class='micropost-info'>
    <p id="mp-title" class='micropost-title'><span><%= number_to_currency(micropost.price, :unit => "$")%></span> -  <%= micropost.content %> </p>
  </div>
  <% if current_user?(micropost.user) %>
    <div class='micropost-settings'>
      <%= link_to "Delete", micropost, method: :delete, data: { confirm: "Are you sure?" } %> |
      <%= link_to "Edit", micropost_edit_path(:micropost_id => micropost.id, :edit_clicked => true) %>
    <div>
    <% else %>
    
  <% end %>
</li>
<script type='text/javascript'>
  function openModal(id, props) {
    document.getElementById('micropost-modal').classList.add('active')
    document.getElementById('mpm-image').src = props.children[0].src
    document.getElementById('mpm-title').textContent = props.parentElement.querySelector('#mp-title').textContent
    // document.getElementById('mpm-price').textContent = props.parentElement.querySelector('#mp-price').textContent
    document.getElementById('mpm-description').textContent = props.children[0].alt
    document.getElementById('micropost-modal').querySelector('.micropost-add-btn').id = id
  }
</script>
