<!--The representation of a menu item/micropost partial.-->
<!--Displayed in the feed.html.erb partial.-->
<div class="menu-item-display">
  <li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>

    <span class="content micropost-item" style="font-size: 20px;">
      <p><%= link_to image_tag(micropost.picture.url), micropost_show_path(:micropost_id => micropost.id) %></p>
    </span>

    <span class="timestamp">
      <p><%= micropost.content %> | <%= number_to_currency(micropost.price, :unit => "$")%> </p>
      <p><%= micropost.description %></p>
    </span>

    <span class="timestamp">
      <% if current_user?(micropost.user) %>
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <%= link_to "Delete", micropost, method: :delete,
                                         data: { confirm: "Are you sure?" } %> |
        <%= link_to "Edit", micropost_edit_path(:micropost_id => micropost.id, :edit_clicked => true) %>
      <% end %>
    </span>
  </li>
</div>
