
<!--The representation of a menu item/micropost partial.-->
<!--Displayed in the feed.html.erb partial.-->
  <li class='micropost_' id="micropost-<%= micropost.id %>">
    <span class="mp-w content micropost-item" style="font-size: 20px;">
      <div class="mp-c">

        <button class='mp-action' onclick="openModal(this)">
          <%= image_tag micropost.picture.url, class: "mp-image", id: 'micropost', alt: "#{micropost.description}" %>
          <div class='mp-info'>
            <p id="mp-title" class='mp-title'> <%= micropost.content %> </p>
            <p id="mp-price" class='mp-price'> <%= number_to_currency(micropost.price, :unit => "$")%> </p>
          </div>
        </button>

        <!--menu item display modal -->
        <div id='micropost-modal' class="micropost-modal">
          <div onclick='closeModal()' class='mpm-close-bg'></div>
          <div class='micropost-modal-c'>
            <button onclick='closeModal()' class='mpm-close'>
              <img src='/assets/close.png'>
            </button>
            <div class='mpm-img-c'>
              <%= image_tag micropost.picture.url, class: "", id: "viewed-mp" %>
            </div>
            <div class='mpm-details'>
              <p id="title"><%= micropost.content %></p>
              <p id="price" class='mpm-price'><%= number_to_currency(micropost.price, :unit => "$")%></p>
              <p id="description" class='mpm-description'><%= micropost.description %></p>
            </div>
          </div>
        </div>
        <!--menu item display modal -->

      </div>
    </span>
  <% if current_user?(micropost.user) %>
    <div class='micropost-settings'>
      <!--Posted <%= time_ago_in_words(micropost.created_at) %> ago. --->
      <%= link_to "Delete", micropost, method: :delete, data: { confirm: "Are you sure?" } %> |
      <%= link_to "Edit", micropost_edit_path(:micropost_id => micropost.id, :edit_clicked => true) %>
    <div>
  <% end %>
</li>
<script type='text/javascript'>
  function openModal(props) {
    document.getElementById('micropost-modal').classList.add('active')
    document.getElementById('viewed-mp').src = props.children[0].src
    document.getElementById('title').innerText = props.children[1].children["mp-price"].innerText
    document.getElementById('price').innerText = props.children[1].children["mp-title"].innerText
    document.getElementById('description').innerText = props.children[0].alt

  }
  function closeModal(props) {
      document.getElementById('micropost-modal').classList.remove('active')
    }
</script>
