<!--This is the page returned when user clicks a menu item-->
<div class="selected-menu-item-display" style="height: auto;">
  <div class="row">
    <div class="row">
      <%= render :partial => "shared/back_button" %>
    </div>

    <div class="ushow-list" style="margin-top: 40px;">
      <%= link_to @micropost.picture.url do %>
          <div class="row" style="position:relative;height: 100%;text-align: center;">
            <span ><%= image_tag @micropost.picture.url, class: "img-responsive", style:'top:0;left:0;right:0;bottom:0;margin:auto;margin-top: 10px;' %></span>
            <span>
              <%= @micropost.content %> | <%= number_to_currency(@micropost.price, :unit => "$")%>
              <div style="color:white;">
                <br><%= @micropost.description %>
              </div>
            </span>
          </div>
      <% end %>
    </div>
  </div>
</div>
