<div class="row main-page-bk" style="height: auto;">
  <%= render :partial => "shared/back_button" %> 

  <div class="row">
    <div>
      <section class="micropost-show">
        <span class="content micropost-item">
          <h3><%= @micropost.content %> | <%= number_to_currency(@micropost.price, :unit => "$")%></h1>
        </span>
        <span class="content micropost-item micropost-item-show">
            <%= image_tag @micropost.picture.url if @micropost.picture? %> <!--Adding image display to microposts.-->
        </span>
        <span class="content micropost-item">
            <p class="item-description-show">
              <%= @micropost.description %>
            </p>
        </span>
      </section>
    </div>
  </div>
</div>
