<div class="row main-page-bk">
  <div style="float: right; padding-top: 30px; margin-right: 30px;">
    <%= link_to "GO BACK", @micropost.user %></span>
  </div>

  <div class="row">
    <div>
      <section class="micropost-show">
        <span class="content micropost-item">
          <h3><%= @micropost.content %> | <%= number_to_currency(@micropost.price, :unit => "$")%></h1>
        </span>
        <span class="content micropost-item">
            <%= image_tag @micropost.picture.url if @micropost.picture? %> <!--Adding image display to microposts.-->
        </span>
        <span class="content micropost-item">
            <p style="color: dimgray;">
              <%= @micropost.description %>
            </p>
        </span>
      </section>
    </div>
  </div>
</div>
