<div class='categories-wrapper'>
    <div class='micropost-action'>
      <div>
        <%= render :partial => "categories/create_form" %>
      </div>
    </div>
  <h3>Published Categories</h3>
  <% @categories.each do |category_title, category_items| %>
      <div class='microposts-c'>
        <button class='microposts-title title-board' onclick="openCategorySettings(this)">
          <span class='material-icons openCategorySettings'>
            settings
          </span>
          <span class='micropost-t-left'>
            <%= cleanCategoryTitle(category_title) %>
          </span>
        </button>
        <div id="edit-category" class='create-category-wrapper edit-category'>
            <%= form_for(@category) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <div class="field form-component-c rotate-icon">
                    <%= f.number_field :priority, required: true, placeholder: "Priority", class: "form-component fc-small" %>
                    <%= render :partial => "shared/form_icon", :locals => {:icon => 'compare_arrows'} %>
                </div>
                <div class="field form-component-c">
                    <%= f.text_field :name, required: true, :value => category_title, placeholder: "Category Name", class: "form-component fc-small"  %>
                    <%= render :partial => "shared/form_icon", :locals => {:icon => 'edit'} %>
                </div>
                <div class="field form-component-c no-box">
                    <%= f.check_box :is_published, id: 'checkbox' %>
                     <label for="checkbox">
                      Publish
                    </label>
                </div>
                <%= hidden_field_tag :user_id, @user.id %>
                <div class="field form-component-c fc-active ">
                  <%= f.submit "Post", class: 'fc-hide', id: 'send' %>
                  <label class='form-component fc-small fc-point' for="send">
                    Submit
                    <%= render :partial => "shared/form_icon", :locals => {:icon => 'send'} %>
                  </label>
                </div>
            <% end %>
        </div>
        <ol class="menu_display_user">
          <li class="micropost micropost-create-btn">
            <div class='micropost-action'>
              <%= link_to micropost_new_path(:category => category_title) do %>
                <div class='micropost-image-c'>
                  <%= image_tag '/assets/create-micropost-placeholder.png', class: "mp-image" %>
                </div>
                <div class='micropost-detail create'>
                <span>Create</span>
                <span>Category</span>
                <span>Item</span>
                  <%# image_tag '/assets/create-micropost-text.png' %>
                </div>
              <% end %>
            </div>
          </li>
          <% category_items.each do |micropost|  %>
            <%= render :partial => "microposts/micropost", locals: {micropost: micropost} %>
          <% end %>
        </ol>
      </div>
  <% end %>

</div>

<script>
function openCategorySettings(props) {
  props.parentElement.querySelector("#edit-category").classList.toggle("active")
}
</script>