<div class='categories-wrapper'>
    <div class='micropost-action'>
      <div>
        <%= render :partial => "categories/create_form" %>
      </div>
    </div>
  <h3>Published Categories</h3>
  <% @categories.each do |category_title, category_items| %>
      <div class='microposts-c'>
        <button class='microposts-title title-board'>
          <span class='material-icons openCategorySettings'>
            settings
          </span>
          <span class='micropost-t-left'>
            <%= cleanCategoryTitle(category_title) %>
          </span>
        </button>
        <ol class="menu_display_user">
          <li class="micropost micropost-create-btn">
            <div class='micropost-action'>
              <%= link_to micropost_new_path(:category => category_title) do %>
                <div class='micropost-image-c'>
                  <%= image_tag '/assets/create-micropost-placeholder.png', class: "mp-image" %>
                </div>
                <div class='micropost-detail create'>
                <span>Create</span>
                <span>Category</span>
                <span>Item</span>
                  <%# image_tag '/assets/create-micropost-text.png' %>
                </div>
              <% end %>
            </div>
          </li>
          <% category_items.each do |micropost|  %>
            <%= render :partial => "microposts/micropost", locals: {micropost: micropost} %>
          <% end %>
        </ol>
      </div>
  <% end %>

</div>
