<!DOCTYPE html>
<html>
  <head>
    <title>VIZHO͞OƏLS</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="keywords" content="">
  	<meta name="description" content="">
    <meta name="google-site-verification" content="fRD1FzHUEveMq-OwTw5cFd8pWRrr-36_JShIY3P1c8w" />

    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>


    <!-- Favicons
        ================================================== -->

    <!-- Stylesheet
        ================================================== -->

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/menu-style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<link rel="stylesheet" href="/assets/themify-icons.css">
  	<!-- Bootstrap  -->


  	<!-- Magnific Popup -->
  	<link rel="stylesheet" href="/assets/magnific-popup.css">

  	<!-- Modernizr JS -->
  	<script src="/assets/modernizr-2.6.2.min.js"></script>
  	
    <%= render 'shared/full_story_script' %>
    <!--<%= render 'shared/identify_users_script' %>-->


  </head>
  <body>
    <% if logged_in? %>
      <di class="row">
        <%= render 'layouts/header' %>
      </div>
      <div class="">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    <% else %>
      <div>
        <%= yield %>
      </div>
      <%= debug(params) if Rails.env.development? %>
    <% end %>

    <!-- jQuery -->
	<script src="/assets/jquery.min.js"></script>
  <!-- Java script -->
  <script src="/assets/core.min.js"></script>
  <script src="/assets/script.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/assets/owl.carousel.min.js"></script>

	<!-- Stellar Parallax -->
	<script src="/assets/jquery.stellar.min.js"></script>

	<!-- Magnific Popup -->
	<script src="/assets/jquery.magnific-popup.min.js"></script>
	<script src="/assets/magnific-popup-options.js"></script>

	<script src="/assets/moment.min.js"></script>

	<!-- Main -->
	<script src="/assets/main.js"></script>

  </body>
</html>
