<!DOCTYPE html>
<html>
  <head>
    <title>VIZHO͞OƏLS</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="keywords" content="">
  	<meta name="description" content="">
    <meta name="google-site-verification" content="fRD1FzHUEveMq-OwTw5cFd8pWRrr-36_JShIY3P1c8w" />


    <!-- Favicons
        ================================================== -->

    <!-- Stylesheet
        ================================================== -->

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<link rel="stylesheet" href="/assets/themify-icons.css">
  	<!-- Bootstrap  -->


  	<!-- Magnific Popup -->
  	<link rel="stylesheet" href="/assets/magnific-popup.css">




    <!-- Theme style  -->
  	<link rel="stylesheet" href="/assets/menu-style.css">

  	<!-- Modernizr JS -->
  	<script src="/assets/modernizr-2.6.2.min.js"></script>
  	<!-- FOR IE9 below -->
  	<!--[if lt IE 9]>
  	<script src="js/respond.min.js"></script>
  	<![endif]-->

    <%= render 'shared/full_story_script' %>
    <!--<%= render 'shared/identify_users_script' %>-->


  </head>
  <body>
    <% if logged_in? %>
      <di class="row">
        <%= render 'layouts/header' %>
      </div>
      <div class="">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    <% else %>
      <!--<di class="row">
        <%= render 'layouts/customer_view_header' %>
      </div>-->
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    <% end %>

    <!-- jQuery -->
	<script src="/assets/jquery.min.js"></script>
  <!-- Java script -->
  <script src="/assets/core.min.js"></script>
  <script src="/assets/script.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/assets/owl.carousel.min.js"></script>

	<!-- Stellar Parallax -->
	<script src="/assets/jquery.stellar.min.js"></script>

	<!-- Magnific Popup -->
	<script src="/assets/jquery.magnific-popup.min.js"></script>
	<script src="/assets/magnific-popup-options.js"></script>

	<script src="/assets/moment.min.js"></script>

	<!-- Main -->
	<script src="/assets/main.js"></script>

  </body>
</html>
